extends ./layout/index 

block contenido 
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")

            div(class="col-md-7")
                h1=pagina 
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor nec libero semper imperdiet. Pellentesque vitae viverra libero. In hac habitasse platea dictumst. Praesent consectetur venenatis congue. Nam vulputate, velit in elementum mattis, tortor ante aliquam nunc, quis semper diam nisi a libero. Mauris sed purus turpis. Nunc in nisi consectetur, euismod erat et, luctus ligula. Duis pulvinar elit at turpis egestas, vel convallis ligula varius.

                p  id sodales elit. Integer id sapien faucibus, mollis velit in, dictum dolor. Vestibulum maximus nisl vel est porttitor, et scelerisque risus congue. Quisque volutpat eros et rhoncus luctus. Nunc porta rutrum neque, sit amet faucibus nulla porta vehicula. Vestibulum accumsan nunc eu volutpat placerat. Donec efficitur vitae erat consectetur varius. Aenean luctus mauris nec lacus rutrum auctor. 

                p  tempus mi id leo faucibus, at suscipit ligula fringilla. Vestibulum at lacinia lacus, at malesuada lacus. Nunc a lectus in ipsum pulvinar sagittis at non neque. Nam eu lacinia magna. Mauris ut magna in erat iaculis rhoncus at non erat. Aliquam erat volutpat. In cursus lorem sit amet dolor efficitur, eget euismod elit ultricies. 
    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad 
                    p  Nam eu lacinia magna. Mauris ut magna in erat iaculis rhoncus at non erat. Aliquam erat volutpat. In cursus lorem sit amet dolor efficitur, eget euismod elit ultricies.  
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Destinos 
                    p  Nam eu lacinia magna. Mauris ut magna in erat iaculis rhoncus at non erat. Aliquam erat volutpat. In cursus lorem sit amet dolor efficitur, eget euismod elit ultricies. 
                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                    h2(class="mb-4") Los Mejores Precios  
                    p  Nam eu lacinia magna. Mauris ut magna in erat iaculis rhoncus at non erat. Aliquam erat volutpat. In cursus lorem sit amet dolor efficitur, eget euismod elit ultricies.                                                       